aiohttp==0.21.6
cffi==1.8.2
chardet==2.3.0
defusedxml==0.4.1
discord.py==0.11.0
Django==1.10.1
django-allauth==0.29.0
gunicorn==19.6.0
oauthlib==2.0.1
psycopg2==2.6.2
pycparser==2.14
PyNaCl==1.0.1
python3-openid==3.0.10
pytz==2016.6.1
requests==2.11.1
requests-oauthlib==0.7.0
six==1.10.0
uWSGI==2.0.14
websockets==3.1
