@page {
    size: A4;
    margin: 1cm;
}

body {
    padding-top: 20px;
    padding-bottom: 30px;
}

.header-icon {
    height: auto;
    width: 50px;
}

.body-icon {
    height: auto;
    width: 50px;
}

.processing_message_cell {
    text-align: center;
    vertical-align: middle;
}

.my-header {
    text-align: center;
}
.form-control {
    font-size: .75em;
}

.errorlist li, .required-field {
    color: #c02b2b; /* Matte red */
}

.my-button {
    width: 100%;
    text-align: center;
}

.show_for_processing {
    display: none;
}

table {
    border: none;
    border-collapse: collapse;
}

table td {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

table td:first-child {
    border-left: none;
}

table td:last-child {
    border-right: none;
}

.socialaccount_providers .google {
    background-color: #d34836; /* Matte red/Google Plus Red */
    text-color: #f1f1f1;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 100px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  /*background-color: #f5f5f5;*/
}

.footer img {
    width: 25px;
    height: auto;
}

/* End Sticky footer styles
-------------------------------------------------- */
