{% extends 'gaming/base.html' %}
{% block head_title %}{{ server.name }}{% endblock %}

{% block page_header %}<img class="icon img-circle header-icon" src="{{ server.get_icon }}" /> {{ server.name }}{% endblock %}

{% block content %}
{% for su in serverusers %}
    <a id="{{ su.user.user_id }}" href="{{ su.user.get_url }}" class="btn btn-lg btn-link" data-toggle="tooltip" title="{{ su.user.name }}{% if su.user == server.owner %} (Owner){% endif %}">
        <img src="{{ su.user.get_icon }}" class="icon img-circle body-icon" />
    </a>
{% endfor %}
{% endblock %}
