{% extends 'gaming/base.html' %}
{% block head_title %}{{ discorduser.name }}{% endblock %}

{% block page_header %}{% if discorduser.get_icon %}<img class="icon img-circle header-icon" src="{{ discorduser.get_icon }}" /> {% endif %}{{ discorduser.name }}{% endblock %}

{% block content %}
<div class="server-list">
    <h3>Servers:</h3>
    {% for server in discorduser.server_set.all %}
        <a href="{{ server.get_url }}" class="btn btn-lg btn-link"  data-toggle="tooltip" title="{{ server.name }}{% if discorduser == server.owner %} (Owner){% endif %}">
            <img src="{{ server.get_icon }}" class="icon img-circle body-icon" />
        </a>
    {% endfor %}
</div>
{% endblock %}
